<div class="container mt-5 offset-md-2">
  <h4 class="row"><span style="background-color:beige">　マイページ　</span></h4>
</div>
<div class="container mt-5 offset-md-1">
  <div class="row">
    <h4 class="col-2">登録情報</h4>
    <%= link_to "編集する", customers_information_edit_path, class: "col-2 btn btn-success", style: "width:140px" %>
  </div>
</div>
<div class="container mt-4 offset-md-1">
  <div class="row">
    <table class='table table-bordered'>
      <tbody>
        <tr>
          <td class="col-1 ">氏名</td>
          <td class="col-3"><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.zip_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row mt-5">
    <h4 class="col-2">配送先</h4><%= link_to "一覧を見る", shipping_addresses_path, class: "col-2 btn btn-primary" %><br />
  </div>
  <div class="row mt-4">
    <h4 class="col-2">注文履歴</h4><%= link_to "一覧を見る", orders_path, class: "col-2 btn btn-primary" %>
  </div>
</div>
<!--　以下　削除する-->
<p><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></p>





