<h3>マイページ</h3>
<span>登録情報</span>
<%= link_to "編集する", customers_information_edit_path %></p>
<table>
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= @customer.full_name %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= @customer.full_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.zip_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.phone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>
  <span>配送先</span><%= link_to "一覧を見る", shipping_addresses_path %><br />
  <span>注文履歴</span><%= link_to "一覧を見る", orders_path %>
<!--　以下　削除する-->




<p><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></p>





