<div class="col-12">
  <div class="carousel slide carousel-fade" id="sample" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#sample" data-slide-to="0" class="active"></li>
      <li data-target="#sample" data-slide-to="1"></li>
      <li data-target="#sample" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active data-bs-interval="5000"">
        <%= image_tag 'image1.jpg',  style: "width: 100%; height: 500px; object-fit:cover; " %>
        <div class="carousel-caption d-none d-block text-right text-dark">
          <h5>ようこそ、ながのCAKEへ！</h5>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。</br>
          このサイトは、ケーキ販売のECサイトになります。
        </div>
      </div>
      <div class="carousel-item data-bs-interval="5000"">
        <%= image_tag 'image2.jpg',  style: "width: 100%; height: 500px; object-fit:cover;" %>
      </div>
      <div class="carousel-item data-bs-interval="5000"">
        <%= image_tag 'image3.jpg', style: "width: 100%; height: 500px; object-fit:cover;" %>
      </div>
    </div>
    <a href="#sample" class="carousel-control-prev" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">前の画像へ</span>
    </a>
    <a href="#sample" class="carousel-control-next" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only">次の画像へ</span>
    </a>
  </div>
  <div class='container px-5 px-sm-0'>
  <div class='row py-5'>
    <div class='col-md-2'>
      <%= render 'admin/genres/index', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1 '>
    <div class="row py-3">
      <h1>新着商品</h1>
      <table class="table table-borderless">
        <tr>
          <% @items.each do |item| %>
            <td>
              <%= link_to item_path(item) do %>
                <%= image_tag item.get_image, size: "200x130" %>
                <p class="figure-caption"><%= item.name %></p>
                <p class="figure-caption">¥<%= item.with_tax_price %></p>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
      <div class="col text-right">
        <%= link_to "全ての商品を見る>", items_path %>
      </div>
    </div>
  </div>
</div>
