<div class="container">
  <%= form_with url: search_path, method: :get do |f| %>
    <%= f.text_field :content %><br>
    <%= f.radio_button :range, 1 %>
    <%= f.label :range, "商品名", :value => 1 %>
    <%= f.radio_button :range , 2 %>
    <%= f.label :range, "値段", :value => 2 %><br>
    <%= f.submit "検索" %>
  <% end %>
</div>