<%= image_tag 'items.jpeg', class: "index-image" %>
<div class="genres py-3 ml-3">
  <%= render 'admin/genres/genre_search', genres: @genres %>
</div>
<div class="row py-3 mx-3 justify-content-center">
  <h1>商品一覧</h1>
  <p class="col pt-3">(全<%= @all_items.count %>件)</p>
  <table class="table table-borderless">
    <tr class="d-flex d-block flex-wrap justify-content-center ">
      <% @items.each do |item| %>
        <td class="new_item_table">
          <%= link_to item_path(item) do %>
            <%= image_tag item.get_image, class: "new_item_image"  %>
            <p class="figure-caption"><%= item.name %></p>
            <p class="figure-caption">¥<%= item.with_tax_price %></p>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
</div>
<div class="col text-right">
  <%= paginate @items %>
</div>