
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>

          <li class="mx-1">
            <%=  link_to admin_items_path, class: 'nav-link' do %>
             <i class="fa-solid fa-cheese fa-lg" ></i>
            <% end %>
          </li>
          <li class="mx-1">
            <%=  link_to admin_customers_path, class: 'nav-link' do %>
             <i class="fa-solid fa-users fa-lg"></i>
            <% end %>
          </li>
          <li class="mx-1">
            <%=  link_to admin_login_path, class: 'nav-link' do %>
              <i class="fa-solid fa-clock-rotate-left fa-lg"></i>
            <% end %>
          </li>
          <li class="mx-1">
            <%= link_to admin_genres_path, class: 'nav-link' do %>
              <i class="fa-solid fa-tags fa-lg"></i>
            <% end %>
          </li>
          <li class="ml-1">
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link' do %>
              <i class="fa-solid fa-right-from-bracket fa-lg"></i>
            <% end %>
          </li>
        <% else %>
          <li class="mx-1">
            <%= link_to about_path,class: 'nav-link' do %>
              <i class="fa-solid fa-store fa-lg"></i>
            <% end %>
          </li>
          <li class="mx-1">
            <%= link_to items_path, class: 'nav-link' do %>
              <i class="fa-solid fa-users fa-lg"></i>
            <% end %>
          </li>
          <li class="mx-1">
            <%= link_to new_customer_registration_path, class: 'nav-link' do %>
              <i class="fa-solid fa-user-plus fa-lg"></i>
            <% end %>
          </li>
          <li class="ml-1">
            <%= link_to new_customer_session_path, class: 'nav-link' do %>
              <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
            <% end %>
          </li>
        <% end %>
        </ul>
